* {
    font-family: 'Open Sans', sans-serif;
}
.text{
     color: #0f9906;
    text-transform: lowercase;
    transition: all 0.3s ease;
 }

.title {
    color: brown;
    text-align: center;
    margin-top: 50px;
    border-bottom: 3px solid #1e168c;
    padding-bottom: 10px;
}

img {
    margin: 3px 7px 7px 0;
    width: 30%;
    float: left;
    transition: all 0.3s ease;
}

img:hover{
    transform:scale(1.2);
}

.text:hover{
    font-weight: bold;
}


